@import "tailwindcss";
@import "tw-animate-css";

@import "./theme.css";
@import "./variants.css";
@import "./utilities.css";

@layer base {
  * {
    @apply border-border outline-ring/50 min-w-0;
  }

  html {
    overflow-x: clip;
    --scroll-behavior: smooth !important;
    scroll-behavior: smooth !important;
  }
  body {
    color: var(--color-foreground);
    background-color: var(--color-background);
    min-height: 100vh;
    overflow-x: clip;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  input,
  textarea {
    outline-style: none;
    width: 100%;
    background-color: transparent;
  }
}

@layer base {
  ::selection {
    color: var(--color-primary-foreground);
    background-color: var(--color-primary);
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--color-primary);
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-primary/70;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
}
