@theme {
  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }

  --animate-accordion-down: accordion-down 0.2s ease-out;
  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  --animate-accordion-up: accordion-up 0.2s ease-out;
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}
